%tr
  %td= link_to event.name, resource_path(event)
  %td
    = event.start_time
    - if event.end_time
      to
      = event.end_time
  %td
    = render collection: event.groups, partial: 'groups/shared/label', as: :group

  %td
    = simple_format event.description
  %td.collapsing.right.aligned
    = link_to "Edit", edit_resource_path(event), class: 'ui button'