= form_with(model: group, url: [group.production, group], class: 'ui form') do |form|
  - if group.errors.any?
    .ui.error.message.visible
      %h2
        = pluralize(group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - group.errors.each do |error|
          %li= error.full_message

  -# .field
  -#   = form.label :production
  -#   = form.collection_select :production_ids, Production.all, :id, :name, {}, {multiple: true, class: 'ui fluid dropdown'}

  .field
    = form.text_field :name, placeholder: "Name"

  .fields
    .field.twelve.wide
      .ui.icon.dropdown.search.button.two.column.fluid
        = form.hidden_field :icon      
        .default.text
          %i.icon.circle.outline.fitted
          Choose an icon
        .menu.very.wide
          - t('icons').each do |icon|
            .item{"data-value" => icon.humanize.downcase} 
              %i.icon{class: icon.humanize.downcase}  
              = icon.humanize.downcase

    .field.four.wide
      %span{data: {controller: 'color-picker', 'color-picker-theme-value': 'nano'}}
        = form.hidden_field :color, "data-color-picker-target": "input"
        .ui.button{"data-color-picker-target": "button"}


  .actions
    = form.submit class: 'ui button primary'
