= form_with(model: group, url: [parent, resource], class: 'ui form') do |form|
  - if group.errors.any?
    .ui.error.message.visible
      %h2
        = pluralize(group.errors.count, "error")
        prohibited this group from being saved:
      %ul
        - group.errors.each do |error|
          %li= error.full_message

  -# .field
  -#   = form.label :production
  -#   = form.collection_select :production_ids, Production.all, :id, :name, {}, {multiple: true, class: 'ui fluid dropdown'}

  .field
    = form.label :name
    = form.text_field :name

  .fields
    .field.four.wide
      = form.label :icon
      .ui.dropdown.icon.search.selection
        = form.hidden_field :icon      
        %i.dropdown.icon
        .default.text Icon
        .menu
          - t('icons').each do |icon|
            .item{"data-value" => icon.humanize.downcase} 
              %i.icon{class: icon.humanize.downcase}
              = icon.humanize     

    .field{data: {controller: 'color-picker'}}
      = form.label :color
      = form.hidden_field :color, "data-color-picker-target": "input"
      .ui.button{"data-color-picker-target": "button"}
        Color


  .actions
    = form.submit class: 'ui button primary'
    or
    = link_to "back", collection_path, class: 'ui button tertiary'
