= render partial: 'groups/menu'    


- if @groups.empty?
  .ui.segment.placeholder.clearboth
    %h2.header.inline= t('groups.index.no_groups')
    %p.inline 
      = link_to new_resource_path, class: 'ui button primary' do
        = t('groups.index.create_group')
- else  
  %table.ui.table.striped.clearboth
    %thead
      = render partial: "groups/table/header", object: Group

    %tbody
      = render collection: @groups, partial: "groups/table/row", as: :group

