.ui.fixed.inverted.menu
  .ui.container

    - unless current_user
      %a.header.item(href=root_path)
        %i.icon.theater.masks.margin-right-small
        Cue
        - if current_tenant
          \- 
          #{current_tenant.name}
    -else    
      .ui.simple.dropdown.item
        %i.icon.theater.masks.margin-right-small
        Cue
        - if current_tenant
          \- 
          #{current_tenant.name}
        .menu
          - current_tenant.productions.each do |production|
            = link_to production.name, calendar_production_path(production), class: "item"
          =link_to new_production_path, class: "item" do
            %i.icon.plus
            Add Production

    
    - if current_user
      -# = link_to "Productions", productions_path, class: 'item'
      -# = link_to "Groups", groups_path, class: 'item'
      -# = link_to "Users", organization_memberships_path, class: 'item'
      -# = link_to "Events", events_path, class: 'item'      
      -# = link_to "Calendar", calendar_path, class: 'item'            

    
    .right.menu      
      - if current_user    
        .ui.simple.dropdown.icon.item
          %i.icon.setting
          .menu
            = link_to organization_memberships_path, class: "item" do
              %i.icon.users
              Users
            = link_to locations_path, class: "item" do
              %i.icon.building  
              Locations



        = button_to destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'ui button item' do
          %i.icon.power.off