
.ui.header 
  .sub.header
    #{event.production.name}
  #{event.name}
  .sub.header
    -if event.start_time
      = local_time event.start_time
    - if event.end_time
      to
      = local_time event.end_time

  .sub.header.margin-top-small
    - if event.groups.any?
      = render collection: event.groups, partial: 'groups/shared/label', as: :group

    - if event.organization_memberships.any?
      = render collection: event.organization_memberships, partial: 'organization_memberships/shared/label', as: :organization_membership


    - if event.locations.any?
      = render collection: event.locations, partial: 'locations/shared/label', as: :location      

.content
  -if event.description
    = event.description

.actions.right.margin-top-large   
  = render partial: "shared/resource/actions", object: event, as: :resource

