= form_with model: resource, url: [parent, resource], class: "ui form" do |f|

  - if resource.errors.any?
    #error_explanation.ui.error.message.visible
      %h2= "#{pluralize(resource.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message


  .two.fields
    .field
      %label Start date
      #rangestart.ui.calendar
        .ui.input.left.icon
          %i.calendar.icon
          = f.text_field :start_time, placeholder: "Start"
    .field
      %label End date
      #rangeend.ui.calendar
        .ui.input.left.icon
          %i.calendar.icon
          = f.text_field :end_time, placeholder: "Start"


  .field
    = f.label :name
    = f.text_field :name, autofocus: true
  .field
    = f.label :description
    = f.text_area :description
  
  -if !resource.production
    .field
      = f.label :production
      = f.collection_select :production_id, Production.all, :id, :name

  .field
    = f.label :groups
    = f.collection_select :group_ids, (resource.try(:production).try(:groups) || Group).all, :id, :name, {}, { multiple: true, class: 'ui fluid search dropdown'}


  .field
    = f.label :locations
    = f.collection_select :location_ids, Location.all, :id, :name, {}, { multiple: true, class: 'ui fluid search dropdown'}



  .actions
    = f.submit 'Save', class: 'ui button primary'
    -if resource.persisted?
      = link_to 'Back', resource_path, class: 'ui button tertiary'    
    -else
      = link_to 'Back', collection_path, class: 'ui button tertiary'    


