= render "menu"


- if  @organization_memberships.empty?
  .ui.segment.placeholder.clearboth
    %h2.header.inline= t('organization_memberships.index.no_users')
    %p.inline 
      = link_to new_resource_path, class: 'ui button primary' do
        = t('organization_memberships.index.create_user')
-else

  %table.ui.table
    %thead
      = render partial: "organization_memberships/table/header"

    %tbody
      = render collection: @organization_memberships, partial: "organization_memberships/table/row", as: :organization_membership    

  =paginate @organization_memberships