.ui.segment
  %p
    %b Name:
    = @organization_membership.user.name

  %p
    %b Email:
    = @organization_membership.user.email
  %p
    %b Groups:
    = @organization_membership.groups.map(&:name).join(', ')

= link_to 'Edit', edit_organization_membership_path(@organization_membership), class: 'ui button'
= link_to 'Back', organization_memberships_path, class: 'ui button'
