= form_for location, url: collection_path, html: {class: "ui form"} do |f|
  - if location.errors.any?
    #error_explanation
      %h2= "#{pluralize(location.errors.count, "error")} prohibited this location from being saved:"
      %ul
        - location.errors.full_messages.each do |message|
          %li= message

  .field
    = f.text_field :name, placeholder: "Name"


  .fields
    .field.twelve.wide
      .ui.icon.dropdown.search.button.two.column.fluid
        = f.hidden_field :icon      
        .default.text
          %i.icon.circle.outline.fitted
          Choose an icon
        .menu.very.wide
          - t('icons').each do |icon|
            .item{"data-value" => icon.humanize.downcase} 
              %i.icon{class: icon.humanize.downcase}  
              = icon.humanize.downcase

    .field.four.wide
      %span{data: {controller: 'color-picker', 'color-picker-theme-value': 'nano'}}
        = f.hidden_field :color, "data-color-picker-target": "input"
        .ui.button{"data-color-picker-target": "button"}


  .actions
    = f.submit class: 'ui button primary'
